@page "/accountsummary"
@using System.Reactive.Subjects;
@using Ledgermain.Shared
@using Ledgermain.Client.Store;
@using Ledgermain.Client.Lib;
@inject Subject<Transaction> sender

<h3>Account Summary</h3>

<p>Current Balance: @balance</p>

<TransactionInput dispatch=@transactionDispatcher></TransactionInput>


@code {
    public double balance { get; set; } = 100;

    private Action<Transaction> transactionDispatcher = (_) => Console.WriteLine("dispatcher not ready");

    protected override void OnInitialized()
    {
        transactionDispatcher = sender.OnNext;

        sender
            .CreateAccountStore(new AccountBalance(balance))
            .Subscribe(
                onNext: (_balance) => {
                    Console.WriteLine("goth here");
                    balance = _balance.Balance;
                    StateHasChanged();
                });
    }
}
