<div>
    <InputSelect @bind-Value=transactionType>
        <option value="Purchase">Purchase</option>
        <option value="Deposit">Deposit</option>
    </InputSelect>
    <InputNumber @bind-Value=transactionAmount></InputNumber>
</div>

@code {

}
